<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Super Mega Plus Blog</title>
    <link rel='stylesheet' href='/css/normalize.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <nav>
        {{#if logged_in}}
          <a href='/homepage'>Homepage</a>
          <a href='/dashboard'>Dashboard</a>
          <a href='/dashboard/create/'>Create Post</a>
          <button class='logout-button'>logout</button>
        {{else}}
          <a href='/login'>login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>