<section>
  <a href='/dashboard'></a>
  <h2 class='title'>Create New Post</h2>

  <form class='form new-post'>
    <div>
      <label for='post-title'>Title:</label>
      <input
        type='text'
        class='input'
        name='post-title'
        placeholder='Post Title...'
      />
    </div>
    <div>
      <label for='post-content'>Content:</label>
      <input
        type='text'
        id='postcontent'
        name='post-content'
        placeholder='Post Content...'
      />
    </div>
    <button type='submit' class='button'>Create Post</button>
  </form>
</section>

<script src='/js/createPost.js'></script>